.titulo{
	background-color: white;
	width: 90%;
	font-size: 250% 
}
body{
	background-color: #6F77B0;
}
.p{
	font-size: 500%;
	
	color: #000000;
}
.img{
	position:absolute;
	bottom: ;
	right: ;
	left: 50%;
	top:140% ;
}